<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}"> <!-- your custom CSS -->
    <meta name="description" content="A card game celebrating the diverse marine ecosystems and fish species of Martha's Vineyard">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <nav class="site-nav">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT</a>
        <a href="#shop">SHOP</a>
        <a href="#contact">CONTACT</a>
      </nav>

      

      {% if site.github.is_project_page %}
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>

    <div class="hero-wrapper">
      <img class="hero-img" src="{{ page.hero | default: '/deck.webp' }}" alt="Hero image">
    </div>


    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
  </body>
</html>
